@font-face {
    font-family: engrave-handwriting;
    src: url(./engrave-handwriting.woff) format("woff");
}
@font-face {
    font-family: engrave-oldLondon;
    src: url(./engrave-oldLondon.woff) format("woff");
}
@font-face {
    font-family: engrave-standard;
    src: url(./engrave-standard.woff) format("woff");
}
@font-face {
    font-family: engrave-typewriter;
    src: url(./engrave-typewriter.woff) format("woff");
}
@font-face {
    font-family: Mogena;
    src: url(./Mogena.woff) format("woff");
}
@font-face {
    font-family: MyHandsareHoldingYou;
    src: url(./MyHandsareHoldingYou.woff) format("woff");
}
@font-face {
    font-family: AvenirNext;
    src: url(./AvenirNextFont.ttf) format("truetype");
}
@font-face {
    font-family: AvenirNextLTPro-Bold;
    src: url(./AvenirNextLTPro-Bold.otf) format("truetype");
}
@font-face {
    font-family: AvenirNextLTPro-It;
    src: url(./AvenirNextLTPro-It.otf) format("truetype");
}