<div class="container">
    <!-- Search -->
    <!-- Coordinates -->
    <div class="coordinates-container">
        <input type="text" />
        <input type="text" />
    </div>

    <p class="choose-text-option">Choose Engraving Fonts</p>
    <!-- font selection -->
    <div class="font-chooser-container">
        <div data-font="Typewriter" class="font-item font-selected" style="margin-right: 10px;">
            <span class="font-typewriter">Aa</span>
        </div>
        <div data-font="Typewriter" class="font-item" style="margin-right: 10px;">
            <span class="font-handwriter">Aa</span>
        </div>
        <div data-font="Typewriter" class="font-item" style="margin-right: 10px;">
            <span class="font-oldlondon">Aa</span>
        </div>
        <div data-font="Typewriter" class="font-item" style="margin-right: 10px;">
            <span class="font-standard">Aa</span>
        </div>
    </div>
    <div id="map"></div>


</div>

<!-- <div class="font-chooser-item font-chooser-typewriter font-selected" data-font="Typewriter"><span
    class="font-type-label">Typewriter</span><span class="font-sample">Aa</span></div>
<div class="font-chooser-item font-chooser-handwriter" data-font="Handwriting"><span
    class="font-type-label">Handwriting</span><span class="font-sample">Aa</span></div>
<div class="font-chooser-item font-chooser-oldLondon" data-font="Old London"><span class="font-type-label">Old
    London</span><span class="font-sample">Aa</span></div>
<div class="font-chooser-item font-chooser-standard" data-font="Standard"><span
    class="font-type-label">Standard</span><span class="font-sample">Aa</span></div> -->